#headerT{
    height: 70vh;
    overflow: hidden;
    background-image: url('https://media.wired.com/photos/60c25edfc99dc8c320fb6cf5/master/pass/Games-Road-Trip-Road96-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 86px 5px 3px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 1px 86px 5px 3px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 1px 86px 5px 3px rgba(0,0,0,0.1) inset;
}
#profil{
    background-color: #0336FF;
    border-radius: 10px;
}
#nav li a{
    font-size: 20px;
    text-decoration: none;
    color: #FFA500;
    font-weight: 500;
}
#nav li:hover{
    background-color: #0336FF;
    border-radius: 10px;
    
}
#nav li a:hover{
    color: aliceblue;
}
#where{
    font-size: 60px;
}
#where span{
    color: #FFA500;
    text-decoration: underline;
}
#des{
    text-align: justify;
}
.remove-hover:hover {
    background-color: transparent !important; /* Set the background to transparent on hover */
}
